<h1>Sign up</h1>
<form action= "<%= users_url %>" method="POST">
  <input type="text" name="user[user_name]" id="user_name" placeholder="Username">
  <input type="password" name="user[password]" id="user_name" placeholder="Password">

  <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

  <p><input type="submit" value="Sign up"></p>
</form>

<%= link_to "Log in", new_session_url %>